# pandas

Pandas is a software library written for the Python programming language for data manipulation and analysis.

https://www.google.com/

In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.Series([1, 2, 3, 'jadi', 0, np.nan, -1])

0       1
1       2
2       3
3    jadi
4       0
5     NaN
6      -1
dtype: object

In [3]:
dates = pd.date_range("20240528", periods=6)
dates

DatetimeIndex(['2024-05-28', '2024-05-29', '2024-05-30', '2024-05-31',
               '2024-06-01', '2024-06-02'],
              dtype='datetime64[ns]', freq='D')

In [4]:
# --- Sine random ---
np.random.randn(6, 4)

array([[ 0.26413545, -0.18746816, -0.48893207, -1.82331068],
       [-0.46691233, -0.67631135, -2.18293541, -0.97667131],
       [ 1.04272854, -0.48528194,  0.91240836, -0.46263717],
       [-0.23734464, -0.13421407, -0.30186073,  0.60862594],
       [-0.93728854,  0.93567076, -0.80714004, -1.672504  ],
       [-1.59837814, -0.15043481, -0.63762974,  0.55326559]])

In [5]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates)
df

                   0         1         2         3
2024-05-28 -0.436222  0.364425  1.061908  0.175973
2024-05-29 -1.074441 -0.765604 -0.215714  0.202384
2024-05-30  0.691909 -0.770530  0.231421  0.787017
2024-05-31  1.294590  1.567899  0.094478  1.146128
2024-06-01  0.912546 -0.242346 -0.017262  1.181074
2024-06-02 -0.732861 -1.018559  0.319088 -1.068321

In [6]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=['a', 'b', 'c', 'd'])
df

                   a         b         c         d
2024-05-28 -1.191217 -0.136098 -0.943781  0.655519
2024-05-29  1.179479 -1.869713 -0.803225  1.177356
2024-05-30 -0.530942  0.052518 -1.239265  3.269332
2024-05-31  0.977613  0.357779 -0.202249 -1.192554
2024-06-01  0.211274 -0.830622  0.580655  0.451064
2024-06-02  1.267312 -0.368418 -1.517736 -1.361094

In [7]:
df.dtypes

a    float64
b    float64
c    float64
d    float64
dtype: object

In [8]:
df['a']

2024-05-28   -1.191217
2024-05-29    1.179479
2024-05-30   -0.530942
2024-05-31    0.977613
2024-06-01    0.211274
2024-06-02    1.267312
Freq: D, Name: a, dtype: float64

In [9]:
df.head()

                   a         b         c         d
2024-05-28 -1.191217 -0.136098 -0.943781  0.655519
2024-05-29  1.179479 -1.869713 -0.803225  1.177356
2024-05-30 -0.530942  0.052518 -1.239265  3.269332
2024-05-31  0.977613  0.357779 -0.202249 -1.192554
2024-06-01  0.211274 -0.830622  0.580655  0.451064

In [10]:
df.head(2)

                   a         b         c         d
2024-05-28 -1.191217 -0.136098 -0.943781  0.655519
2024-05-29  1.179479 -1.869713 -0.803225  1.177356

In [11]:
df.tail(2)

                   a         b         c         d
2024-06-01  0.211274 -0.830622  0.580655  0.451064
2024-06-02  1.267312 -0.368418 -1.517736 -1.361094

In [12]:
df.describe()

              a         b         c         d
count  6.000000  6.000000  6.000000  6.000000
mean   0.318920 -0.465759 -0.687600  0.499937
std    1.008787  0.796139  0.763740  1.701940
min   -1.191217 -1.869713 -1.517736 -1.361094
25%   -0.345388 -0.715071 -1.165394 -0.781650
50%    0.594444 -0.252258 -0.873503  0.553291
75%    1.129013  0.005364 -0.352493  1.046897
max    1.267312  0.357779  0.580655  3.269332

In [13]:
df.mean()

a    0.318920
b   -0.465759
c   -0.687600
d    0.499937
dtype: float64

In [14]:
df['a'].mean()

0.31891993225689774

In [15]:
df[0:2]

                   a         b         c         d
2024-05-28 -1.191217 -0.136098 -0.943781  0.655519
2024-05-29  1.179479 -1.869713 -0.803225  1.177356

In [16]:
df[0:2].mean()

a   -0.005869
b   -1.002906
c   -0.873503
d    0.916437
dtype: float64

In [17]:
df.T

   2024-05-28  2024-05-29  2024-05-30  2024-05-31  2024-06-01  2024-06-02
a   -1.191217    1.179479   -0.530942    0.977613    0.211274    1.267312
b   -0.136098   -1.869713    0.052518    0.357779   -0.830622   -0.368418
c   -0.943781   -0.803225   -1.239265   -0.202249    0.580655   -1.517736
d    0.655519    1.177356    3.269332   -1.192554    0.451064   -1.361094

In [18]:
df.sort_values('b')

                   a         b         c         d
2024-05-29  1.179479 -1.869713 -0.803225  1.177356
2024-06-01  0.211274 -0.830622  0.580655  0.451064
2024-06-02  1.267312 -0.368418 -1.517736 -1.361094
2024-05-28 -1.191217 -0.136098 -0.943781  0.655519
2024-05-30 -0.530942  0.052518 -1.239265  3.269332
2024-05-31  0.977613  0.357779 -0.202249 -1.192554

In [19]:
df.sort_values(by='b')

                   a         b         c         d
2024-05-29  1.179479 -1.869713 -0.803225  1.177356
2024-06-01  0.211274 -0.830622  0.580655  0.451064
2024-06-02  1.267312 -0.368418 -1.517736 -1.361094
2024-05-28 -1.191217 -0.136098 -0.943781  0.655519
2024-05-30 -0.530942  0.052518 -1.239265  3.269332
2024-05-31  0.977613  0.357779 -0.202249 -1.192554

In [20]:
df.sort_index(ascending=False)

                   a         b         c         d
2024-06-02  1.267312 -0.368418 -1.517736 -1.361094
2024-06-01  0.211274 -0.830622  0.580655  0.451064
2024-05-31  0.977613  0.357779 -0.202249 -1.192554
2024-05-30 -0.530942  0.052518 -1.239265  3.269332
2024-05-29  1.179479 -1.869713 -0.803225  1.177356
2024-05-28 -1.191217 -0.136098 -0.943781  0.655519

In [21]:
df[df['a'] < 0]

                   a         b         c         d
2024-05-28 -1.191217 -0.136098 -0.943781  0.655519
2024-05-30 -0.530942  0.052518 -1.239265  3.269332

## read and write operations

In [22]:
# df.read_csv("write_csv_file_name_here.csv")

In [23]:
df.to_csv("mycsv.csv")

In [24]:
df.to_excel("mycsv.xlsx")